@model IEnumerable<smartmoney.Models.Transacao>

@{
    ViewData["Title"] = "Transações";
}

<div class="d-flex align-items-center gap-4 mt-5">
    <h1>Transações</h1>
    <a class="btn btn-primary fw-bold" asp-action="Create" class="btn btn-primary fw-bold">+ NOVA TRANSAÇÃO</a>
</div>

<div class="card mt-4 mb-5">
    <table class="table table-striped rounded-1 overflow-hidden ">
        <thead>
            <tr class="bg-primary">
                <th>
                    @Html.DisplayNameFor(model => model.Valor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tipo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Carteira)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Categoria)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Carteira.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.Titulo)
                </td>
                <td class="d-flex gap-3">
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-fill"></i></a> 
                    <a asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-file-earmark-text-fill"></i></a> 
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash-fill"></i></a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>
